<!DOCTYPE html>
<html>
    <head>
        {{ template "title" . }}
    </head>
    <body>
        {{ template "navbar" . }}

        <!-- Page Content  -->
        <div id="content">
            <div class="text-center">
                {{ template "header" . }}
            </div>
            <div class="container text-center">
                {{ if not .UserDisplayName }}
                <div><a href="/login.html">Login</a></div>
                <div><a href="/create_account.html">Create account</a></div>
                {{ end }}
            </div>

            <div class="container">

            {{ template "rules_list" . }}

            </div>
        </div>

        {{ template "footer" . }}

    </body>
</html>
